<section class=" attestion-image top-1">
  <div class="container">
    <div class="row sec2">
      <!-- Vous pouvez mettre ici d'autres contenus si nécessaire -->
      <div class="col-lg-8">
        <h1 class="attestattion-text1">Attestation de présence au poste
        </h1>
        <p class="attestattion-text2">Trouvez dès maintenant tous les documents dont vous avez besoin pour vos <br>
          demandes et tous ceux utiles pour votre carrière professionnelle</p>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>


<section class="container attestion-section">
  <div class="row">

    <div class="col-lg-8">
      <h1 class="attestattion-text3">Récupérez votre Attestation </h1>
      <p class="attestattion-text4">Obtenez facilement une attestation officielle de votre présence au poste de travail.
        Votre demande sera validée et certifiée par les autorités compétentes. Vous serez notifié(e) dès que votre
        attestation de présence est prête à être téléchargée</p>

      <button class="btn  py-2" id="bt9">Demander mon APP</button>
    </div>
    <div class="col-lg-4 condition">
      <p class="title-condition"><span class="souligner"></span>Conditions d’obtention</p>
      <p class="paraph-attestation"><img alt="" class="contact-img" src="../../../../assets/img/icon.png">
        Qui peut faire la demande?</p>
      <p class="paraph-simple">Agents du MTFP en service</p>

      <p class="paraph-attestation"><img alt="" class="contact-img" src="../../../../assets/img/icon.png">
        Institution en charge du service:</p>
      <p class="paraph-simple">Ministère du Travail et de la Fonction Publique</p>
    </div>
  </div>

</section>
