<section class=" background-image-section top-1"  >
  <div class="container">
    <div class="row sec2">
      <!-- Vous pouvez mettre ici d'autres contenus si nécessaire -->
      <div class="col-lg-6">
        <h1 class="blanc">Bienvenue sur Weche,
          la plateforme des agents de la fonction publique</h1>
        <p class="text2">Trouvez à présent tous les documents dont vous avez besoin pour vos demandes et tous ceux
          utiles pour votre carrière professionnelle.</p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>

<section class="container section-l">
  <div class="row">
    <div class="col-lg-6 ecart">
      <h6 class="intro">À quoi sert la </h6>
      <h2 class="intro2">Plateforme Weche ?</h2>
      <p class="intro3  ">WECHE est la plateforme sécurisée mise à la disposition des agents de l'État par le
        ministère du Travail et de la Fonction publique, offrant un espace en ligne dédié à la sécurisation et à la
        consultation des actes de carrière.</p>
      <button class="btn btn-default btn-lg"  routerLink="/connexion"  id="bt2">Inscrivez-vous</button>
    </div>
    <div class="col-lg-6  ecart"><img alt="..." class="img-fluid mx-auto d-block image-sect2" src="../../../../assets/img/section2.svg">
    </div>
  </div>
</section>

<section class="container section-l">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="introsection3">Les services les plus utilisés</h2>
      <p class="intro-paraph  ">Accédez facilement à vos documents officiels grâce à notre outil sécurisé. Gardez une
        trace de toutes vos attestations certifiées.</p>
    </div>
    <div class="col-lg-6 espace-sect3">
      <div class="row">
        <div class="col design-col"><img alt="" src="../../../../assets/img/r2.svg"></div>
        <div class=" col">
          <h2 class="card-title">Attestation de <br>présence au poste</h2>
          <p class="parph">C’est un document officiel délivré aux employés pour certifier leur présence à leur lieu de
            travail pendant une période spécifique. <a class="lien" href="">En savoir plus</a></p>
          <a class="lien2" routerLink="/demande-attestation">Faire la demande <img alt="" class="" src="../../../../assets/img/fleche.svg"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6  col-sm-12 espace-sect3">
      <div class="row">
        <div class="col design-col"><img alt="" src="../../../../assets/img/r3.svg"></div>
        <div class=" col">
          <h2 class="card-title">Attestation de <br>
            non radiation</h2>
          <p class="parph">C’est un document officiel délivré par une autorité compétente, confirmant qu'une personne
            ou une entité n'a pas été radiée ou exclue d'un registre ou d'une liste. <a class="lien" href="">En savoir
              plus</a></p>
          <a class="lien2" href="">Faire la demande <img alt="" class="" src="../../../../assets/img/fleche.svg"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container section-l">
  <div class="row">
    <div class="col-lg-12">
      <h6 class="intro">Autres plateformes </h6>
      <h2 class="intro2">Accès rapides</h2>
    </div>
  </div>
  <div class="row scroll-container flex-row flex-nowrap">
    <a class="col-lg-3 col-md-4 col-sm-6 col-8" href="about.html">
      <div class="card4 d-flex justify-content-center">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center"><img alt="" src="../../../../assets/img/1.svg"></div>
          <div class="col-lg-12">
            <p class="text-center cardsect4">Espace usager</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-4 col-sm-6 col-8" href="about.html">
      <div class="card4 d-flex justify-content-center">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center"><img alt="" src="../../../../assets/img/2.svg"></div>
          <div class="col-lg-12">
            <p class="text-center cardsect4">Guicher unique<br>virtuel</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-4 col-sm-6 col-8" href="about.html">
      <div class="card4 d-flex justify-content-center">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center"><img alt="" src="../../../../assets/img/3.svg"></div>
          <div class="col-lg-12">
            <p class="text-center cardsect4 ms-2 me-2">Je dénonce <br>une délit</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-4 col-sm-6 col-8" href="about.html">
      <div class="card4 d-flex justify-content-center">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center"><img alt="" src="../../../../assets/img/3.svg"></div>
          <div class="col-lg-12">
            <p class="text-center cardsect4">Je dénonce <br>une délit</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<section class="container section-lnf">
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center col-sm-4 img-5">
      <img alt="" src="../../../../assets/img/dame.png">
    </div>
    <div class="col-lg-6 col-sm-4 info-5">
      <h2 class="title5">Vous avez besoin d’aide ?</h2>
      <p class="paraph5">Nous sommes là pour vous aider ! Découvrez nos services d'assistance personnalisée.</p>
      <button class="btn btn-default btn-lg" id="bt3">Trouver de l’aide près de nous</button>
    </div>
  </div>
</section>
