<section class=" background-image-section top-1">
  <div class="container">
    <div class="row sec2">
      <!-- Vous pouvez mettre ici d'autres contenus si nécessaire -->
      <div class="col-lg-6">
        <h1 class="blanc">Bienvenue sur Weche,
          la plateforme des agents de la fonction publique</h1>
        <p class="text2">Trouvez à présent tous les documents dont vous avez besoin pour vos demandes et tous ceux
          utiles pour votre carrière professionnelle.</p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>
<section class="container section-engagement">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="text-enga1">Formulaire d’engagement</h1>
      <h6 class="text-enga2">Téléchargez le formulaire spécifique à votre poste.</h6>
    </div></div>

  <div class="row    align-items-center justify-content-center full-height  ">
    <div class="col-6   border-eng   full-bottom">
      <h2 class="text-enga3">Formulaire d’engagement standard</h2>
      <p class="text-enga4">Téléchargez, remplissez et signez le formulaire d'engagement au code d'éthique et aux valeurs de l'Administration publique, destiné à tous les agents de la fonction publique.</p>
      <p class="text-enga5" >  Cible   <b  class="text-point"></b>
        <span  class="text-enga6">  agent standard de la fonction publique</span></p>

      <div class="d-flex justify-content-end mobile-justify-start">
        <a class="btn-view" href="assets/pdf/ENGAGEMENT_CODE_ETHIQUE_AGENT.pdf" target="_blank">
          <img src="../../../../assets/img/eye-open.png" alt="" class="img-enga">Visualiser</a>
        <a class="telecharger" href="assets/pdf/ENGAGEMENT_CODE_ETHIQUE_AGENT.pdf" download="ENGAGEMENT_CODE_ETHIQUE_AGENT.pdf">
          <img src="../../../../assets/img/download-01.svg" alt=""  >Télécharger</a>
      </div>
    </div>
  </div>
  <!--Deuxieme de section de card -->

  <div class="row align-items-center justify-content-center ">
    <div class="col-6 border-eng ">
      <h2 class="text-enga3">Formulaire d’engagement standard</h2>
      <p class="text-enga4">Téléchargez, remplissez et signez le formulaire d'engagement au code d'éthique et aux valeurs de l'Administration publique, destiné à tous les agents de la fonction publique.</p>
      <p class="text-enga5" >  Cible   <b  class="text-point"></b>
        <span  class="text-enga6">  agent standard de la fonction publique</span></p>

      <div class="d-flex justify-content-end mobile-justify-start">
        <a class="btn-view" href="assets/pdf/ENGAGEMENT_CODE_ETHIQUE_RESPONSABLE.pdf" target="_blank">
          <img src="../../../../assets/img/eye-open.png" alt="" class="img-enga">Visualiser</a>
        <a class="telecharger" href="assets/pdf/ENGAGEMENT_CODE_ETHIQUE_RESPONSABLE.pdf" download="ENGAGEMENT_CODE_ETHIQUE_RESPONSABLE.pdf">
          <img src="../../../../assets/img/download-01.svg" alt="">Télécharger</a>
      </div>
    </div>
  </div>
  <!--Fin Deuxieme de section de card -->
</section>
