<section class="container contact-height  ">
  <div class="row top-2">
    <div class="col-md-12 contact-bottom">
      <h2 class=" title-contact mt-5">FAQ</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Comment s'inscrire sur la plateforme ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">

            Cliquez sur le menu <strong>"S'authentifier"</strong> et ensuite sur l'onglet <strong>"S'inscrire"</strong>. Complétez ensuite le formulaire d'inscription en renseignant les informations suivantes : <strong> Numéro matricule, Nom (suivi de EPSE... pour les femmes déclarées mariées), Prénom(s), Date de naissance, Numéro de téléphone, Adresse mail et Mot de passe</strong>. Assurez-vous que votre adresse mail soit bien renseignée et valide car il vous servira à activer votre compte.

            Après inscription, vous recevrez un mail d'activation de votre compte. Consultez votre boîte de réception et cliquez sur le lien envoyé et votre compte sera activé. Vous pourrez ensuite vous authentifier pour accéder à votre espace carrière.
            <strong>
              PS : Le lien de validation expire après 48h et vous serez obligé(e)s de reprendre votre inscription après expiration du lien.</strong>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Comment s'authentifier sur la plateforme ?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Pour vous authentifier, cliquez sur le menu <strong>"S'authentifier"</strong> si vous n'êtes pas encore sur la page d'authentification. Renseignez ensuite votre <strong> identifiant (adresse mail ou numéro matricule) et votre mot de passe</strong> puis cliquez sur le bouton <strong> "Se connecter"</strong>.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Comment récupérer son mot de passe ?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

            Au cas où vous avez oublié votre mot de passe, pas de panique. Allez sur la page d'authentification et cliquez sur le lien <strong> "Mot de passe oublié"</strong> . Sur la page de récupération de mot de passe, vous allez renseigner votre <strong>numéro matricule</strong> et votre <strong>adresse mail</strong> que vous avez utilisée pour vous inscrire.

            Vous recevrez par la suite un mail de réinitialisation de mot de passe contenant un lien. Cliquez sur le lien envoyé et vous arriverez sur une nouvelle page où vous allez définir un nouveau mot de passe.

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThre" aria-expanded="false" aria-controls="collapseThre">
              Comment télécharger ses actes ?
            </button>
          </h2>
          <div id="collapseThre" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              Les actes de carrière suivent un processus de numérisation avant d'être mis en ligne. Une fois que les actes sont en ligne et que vous êtes connecté(e)s à votre espace carrière, vous verrez pour vos actes disponibles en fichier un bouton <strong>"Visualiser"</strong> qui vous permet de consulter l'acte en ligne et un bouton <strong>"Télécharger"</strong> qui vous permet de télécharger votre acte.

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThr" aria-expanded="false" aria-controls="collapseThr">
              Comment faire une demande de correction de ses informations de carrière ?
            </button>
          </h2>
          <div id="collapseThr" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              Pour faire une demande de correction de vos informations de carrière (nom mal écrit par exemple), veuillez adresser un courrier au <strong>Ministre du Travail et de la Fonction Publique, à l'attention du/de la Directeur(trice) Général(e) de la Fonction Publique (DGFP)</strong> en précisant les informations à corriger tout en y joignant les pièces justificatives.

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTh" aria-expanded="false" aria-controls="collapseTh">
              Comment imprimer ma fiche de paie ?
            </button>
          </h2>
          <div id="collapseTh" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              La plateforme de téléchargement et d'impression des fiches de paie est une plateforme du trésor. <a href="https://bulletinpaie.finances.bj/login">Cliquez ici</a> pour y accéder.

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT" aria-expanded="false" aria-controls="collapseT">
              Comment suivre le traitement de mon acte en cours ?
            </button>
          </h2>
          <div id="collapseT" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              Le suivi du traitement des actes est géré par la DAF de chaque ministère. Rapprochez-vous donc de la DAF de votre structure dans un premier temps pour vous renseigner sur l'évolution de votre dossier. En cas de non satisfaction, vous pouvez vous rapprocher du <strong> Service de Relation avec les Usagers (SRU)</strong> du Ministère du Travail et de la Fonction Publique.

            </div>
          </div>
        </div>
      </div>
    </div>
</div></section>
