<div class="row">
  <div class="col-lg-12">
    <h2 class="app-title1">Liste des demandes traitées</h2>

  </div>
</div>




<div class="row mb-10" >
  <div class="col-lg-12">
    <div class="row mb-10">
      <div class="col-lg-12" style="background-color: white;">
        <nav class="navbar navbar-expand-lg navbar-light  ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <svg fill="none" height="25" viewBox="0 0 25 25" width="25" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_531_36910)">
                  <path
                    d="M10.5958 18.1081H14.54V16.136H10.5958V18.1081ZM3.69336 6.27539V8.24752H21.4425V6.27539H3.69336ZM6.65155 13.1778H18.4843V11.2057H6.65155V13.1778Z"
                    fill="#323232"/>
                </g>
                <defs>
                  <clipPath id="clip0_531_36910">
                    <rect fill="white" height="23.6655" transform="translate(0.735352 0.359375)" width="23.6655"/>
                  </clipPath>
                </defs>
              </svg>
            </a>
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">

              <!---  <li class="nav-item dropdown">
                  <a aria-expanded="false" class="nav-link dropdown-toggle active1" data-bs-toggle="dropdown" href="#"
                     id="navbarDropdownMenuLink" role="button">
                    Période
                  </a>
                  <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a aria-expanded="false" class="nav-link dropdown-toggle active1" data-bs-toggle="dropdown" href="#"
                     id="navbarDropdownMenuLink" role="button">
                    Documents
                  </a>
                  <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>-->
                <li class="nav-item dropdown">
                  <a aria-expanded="false" class="nav-link dropdown-toggle active1" data-bs-toggle="dropdown" href="#"
                     id="navbarDropdownMenuLink" role="button">
                    Statut
                  </a>
                  <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <li><a class="dropdown-item"   (click)="onStatusChange('ALL')">Tous</a></li>
                    <li><a class="dropdown-item"  (click)="onStatusChange('APPROVED')">Validée</a></li>
                    <li><a class="dropdown-item"   (click)="onStatusChange('PENDING')">En attente</a></li>
                    <li><a class="dropdown-item"   (click)="onStatusChange('REJECTED')">Rejetée</a></li>
                  </ul>
                </li>


              </ul>
            </div>
            <form class="d-flex">
              <div class="input-group rounded-pill">
                <span class="input-group-text me-5 bg-transparent border-0">
                  <svg class="" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6171 10.4442L17.2672 16.0944L15.798 17.5636L10.1479 11.9135C9.09277 12.6728 7.82075 13.1362 6.4304 13.1362C2.89044 13.1362 0.0209961 10.2668 0.0209961 6.72679C0.0209961 3.18683 2.89044 0.317383 6.4304 0.317383C9.97037 0.317383 12.8398 3.18683 12.8398 6.72679C12.8398 8.11714 12.3764 9.38916 11.6171 10.4442ZM6.4304 2.28951C3.97511 2.28951 1.99312 4.27149 1.99312 6.72679C1.99312 9.18209 3.97511 11.1641 6.4304 11.1641C8.8857 11.1641 10.8677 9.18209 10.8677 6.72679C10.8677 4.27149 8.8857 2.28951 6.4304 2.28951Z" fill="#667085"/>
                    </svg>

                </span>
                <input   type="text" [(ngModel)]="searchQuery" (input)="onSearch()" name="searchQuery" aria-label="Search" class="form-control border-start-0 border rounded-pill" placeholder="Rechercher un document">

              </div>
            </form>


          </div>
        </nav>

      </div>
    </div>

  </div>
</div>



<div class="row">

  <div class="col-lg-12  ">
    <br>
    <div class="table-responsive">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>Date de réception</th>
          <th>Nom du demandeur</th>
          <th>Poste occupé</th>
          <th>Documents</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let checkStatus of filteredRequests  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td> {{ checkStatus.createdAt | customDate }}</td>
          <td>{{ checkStatus.user.firstname }}</td>
          <td>
            <span class="status1">{{ checkStatus.user.profession }}</span></td>
          <td>Attestation de présence au poste</td>
          <td>
            <span *ngIf="checkStatus.requestStatus === 'APPROVED'" class="status1">Validée</span>
            <span *ngIf="checkStatus.requestStatus === 'REJECTED'" class="status2">Rejetée</span>
            <span *ngIf="checkStatus.requestStatus === 'UPDATE'" class="status3">A modifier</span>
            <span *ngIf="checkStatus.requestStatus === 'PENDING'" class="status4">En attente</span>
          </td>
          <td><a (click)="redirectTo(checkStatus.requestNumber)" class="btn-detail btn "><img
            alt="" class="img-enga" src="../../../../assets/img/eye-open.png">Détails de la demande </a></td>
        </tr>

        </tbody>
      </table>   <div class="pagination-container">
        <div class="items-info">
          Page {{ p }} / {{ totalPages }}
        </div>
        <div class="pagination-controls">
          <pagination-controls (pageChange)="p = $event"
                               [directionLinks]="true"
                               nextLabel=""
                               previousLabel=""></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-lg-12  "  *ngIf="resul">
    <p class="text-center">{{resul}}</p>
  </div></div>
