<section class="container-fluid footer">
  <div class="row  logo2">
    <div class="col-lg-12 d-flex justify-content-center img-f">
      <img alt="" src="../../assets/img/logo-fouteur.svg" class="footer-logo" >
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-lg-12 rt">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a aria-current="page" class="nav-link  white" routerLink="/">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" routerLink="/">Nos E-services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" routerLink="/engagement">Engagement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" routerLink="/contacter">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>

</section>
<section class="container-fluid footer-2">

  <div class="row  ">
    <div class="col-lg-12">
      <p class="text-center paraph-bas">2024 © Ministère du Travail et de la Fonction Publique. Tout droits
        réservés.</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgba(16, 135, 87, 1);height: 5px;">

    </div>
    <div class="col " style="background-color: rgba(255, 190, 0, 1);height: 5px;">

    </div>
    <div class="col" style="background-color: rgba(235, 0, 0, 1);height: 5px;">

    </div>
  </div>
</section>
