<section class=" allo-image top-1">
  <div class="container">
    <div class="row sec2">
      <!-- Vous pouvez mettre ici d'autres contenus si nécessaire -->
      <div class="col-lg-12">
        <h1 class="allo-text1">Jouissez aussitôt de votre retraite<br>
          au lendemain de votre cessation d'activité
        </h1>
        <p class="allo-text2">C'est bien possible grâce au partenariat MTFP-MEF pour le bonheur <br>des retraités.</p>
      </div>

    </div>
  </div>
</section>

<section class="container section-allo">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="allo-text3">Allô retraite</h1>
      <p class="allo-text4 mt-3">Nous vous remercions pour la confiance et l'exploitation de cette plateforme. Vous avez une
        préoccupation concernant votre retraite ?
        Veuillez vous connecter pour soumettre vos préoccupations.</p>

    </div>
  </div>
  <div class="form-connect" *ngIf="!isTrue">
    <!--  <h1><strong routerLink="/connexion">Connexion</strong>  </h1>
      <p class="form-paraph">Entrez votre identifiant et votre mot de passe, puis connectez-vous.</p>-->

      <form (ngSubmit)="submit2()" [formGroup]="loginForm" class="topForm">

        <div class="mb-3 text-danger">
          <label class="form-label" for="username">Identifiant <span class="red">*</span></label>
          <input aria-describedby="emailHelp" class="form-control" formControlName="username" id="username" name="username" placeholder="Numéro Matricule" type="text">

          <ng-container class="text-danger" [ngTemplateOutletContext]="{validation: 'required',message: 'L\'identifiant est requis',control: loginForm.controls['username']}" [ngTemplateOutlet]="formError"></ng-container>
          <ng-container [ngTemplateOutletContext]="{validation: 'minlength',message: 'L\'identifiant doit avoir minimum 3 caractères',control: loginForm.controls['username']}" [ngTemplateOutlet]="formError"></ng-container>
          <ng-container [ngTemplateOutletContext]="{validation: 'maxLength',message: 'L\'identifiant should have maximum 100 symbols',control: loginForm.controls['username']}" [ngTemplateOutlet]="formError"></ng-container>
        </div>

        <div class="mb-3 text-danger">
          <label class="form-label" for="password">Mot de passe <span  class="red">*</span></label>
            <input class="form-control" formControlName="password" id="password" name="password" placeholder="******" type="password"/>

          <ng-container class="text-danger" [ngTemplateOutletContext]="{validation: 'required',message: 'Le mot de passe est requis',control: loginForm.controls['password']}" [ngTemplateOutlet]="formError"></ng-container>
          <ng-container [ngTemplateOutletContext]="{validation: 'minlength',message: 'Le mot de passe doit avoir minimum 3 caractères',control: loginForm.controls['password']}" [ngTemplateOutlet]="formError"></ng-container>
          <ng-container [ngTemplateOutletContext]="{validation: 'maxLength',message: 'Password should have maximum 100 symbols',control: loginForm.controls['password']}" [ngTemplateOutlet]="formError"></ng-container>

        </div>

<div *ngIf="hasError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong style="font-weight: 700;">Mot de passe ou identifiant</strong>    incorrect

</div>



          <button [disabled]="loginForm.invalid" class="btn btn-primary" id="bt4" type="submit">
            <ng-container *ngIf="isLoading$ | async"><span [style.display]="'block'" class="indicator-progress">Patientez...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </ng-container>
            <ng-container *ngIf="(isLoading$ | async) === false">
              <span class="indicator-label">Connexion</span>
            </ng-container>
          </button>

        <!--          <button type="submit" class="btn btn-primary" id="bt4">Connexion</button> -->
        <button class="btn btn-primary" id="bt5" type="submit">Mot de passe oublié ?</button>
      </form>

    </div>
  <div class="row mt-5">
    <div class="col-lg-12   d-flex justify-content-center">

      <form *ngIf="isTrue" [formGroup]="alloretariteForm" (ngSubmit)="submit()" class="row g-3 allo-width">
        <div *ngIf="success" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Félicitation</strong> {{success}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>ERREUR</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-md-6 col-6">
          <label class="form-label" for="inputAddress">Nom</label>
          <input [ngClass]="{
            'is-invalid': alloretariteForm.controls['lastName'].invalid && (alloretariteForm.controls['lastName'].dirty || alloretariteForm.controls['lastName'].touched),
            'is-valid': alloretariteForm.controls['lastName'].valid && (alloretariteForm.controls['lastName'].dirty || alloretariteForm.controls['serialNumber'].touched)
          }" class="form-control" id="inputEmail4"  [placeholder]="user.lastname"  type="text" formControlName="lastName">
            <div *ngIf="alloretariteForm.get('lastName')?.touched && alloretariteForm.get('lastName')?.invalid">
              <small *ngIf="alloretariteForm.get('lastName')?.errors?.['required']">Le Nom est requis.</small>
              <small *ngIf="alloretariteForm.get('lastName')?.errors?.['minlength']">Le Nom doit contenir au moins 3 caractères.</small>
              <small *ngIf="alloretariteForm.get('lastName')?.errors?.['maxlength']">Le Nom ne doit pas dépasser 100 caractères.</small>
            </div>
        </div>
        <div class="col-md-6 col-6">
          <label class="form-label" for="inputAddress">Prénom·s</label>
          <input [ngClass]="{
            'is-invalid': alloretariteForm.controls['firstName'].invalid && (alloretariteForm.controls['firstName'].dirty || alloretariteForm.controls['firstName'].touched),
            'is-valid': alloretariteForm.controls['firstName'].valid && (alloretariteForm.controls['firstName'].dirty || alloretariteForm.controls['firstName'].touched)
          }" class="form-control" id="inputPassword4"  [placeholder]="user.firstname"  type="text" formControlName="firstName">
          <div *ngIf="alloretariteForm.get('firstName')?.touched && alloretariteForm.get('firstName')?.invalid">
            <small *ngIf="alloretariteForm.get('firstName')?.errors?.['required']">Le Prénom·s est requis.</small>
            <small *ngIf="alloretariteForm.get('firstName')?.errors?.['minlength']">Le Prénom·s doit contenir au moins 3 caractères.</small>
            <small *ngIf="alloretariteForm.get('firstName')?.errors?.['maxlength']">Le Prénom·s ne doit pas dépasser 100 caractères.</small>
          </div>
        </div>
        <div class="col-md-12 col-12">
          <label class="form-label" for="inputAddress">N° Matricule</label>
          <input  [placeholder]="user.serialNumber"   [ngClass]="{
            'is-invalid': alloretariteForm.controls['serialNumber'].invalid && (alloretariteForm.controls['serialNumber'].dirty || alloretariteForm.controls['serialNumber'].touched),
            'is-valid': alloretariteForm.controls['serialNumber'].valid && (alloretariteForm.controls['serialNumber'].dirty || alloretariteForm.controls['serialNumber'].touched)
          }" class="form-control" id="inputAddress"  type="text" formControlName="serialNumber">
          <div *ngIf="alloretariteForm.get('serialNumber')?.touched && alloretariteForm.get('serialNumber')?.invalid">
            <small *ngIf="alloretariteForm.get('serialNumber')?.errors?.['required']">Le N° Matricule est requis.</small>
          </div>
        </div>

        <div class="col-md-6 col-6">
          <label class="form-label" for="annee_depart">Année de départ</label>

          <select  [ngClass]="{
            'is-invalid': alloretariteForm.controls['yearOfDeparture'].invalid && (alloretariteForm.controls['yearOfDeparture'].dirty || alloretariteForm.controls['yearOfDeparture'].touched),
            'is-valid': alloretariteForm.controls['yearOfDeparture'].valid && (alloretariteForm.controls['yearOfDeparture'].dirty || alloretariteForm.controls['yearOfDeparture'].touched)
          }" class=" form-select" id="annee_depart" name="annee_depart" formControlName="yearOfDeparture" required>
            <option  value="">Choisissez l'année de départ</option>
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select><div *ngIf="alloretariteForm.get('yearOfDeparture')?.touched && alloretariteForm.get('yearOfDeparture')?.invalid">
            <small *ngIf="alloretariteForm.get('yearOfDeparture')?.errors?.['required']">l'année de départ est requise.</small>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <label class="form-label" for="inputState">N° Téléphone d'urgence</label>
          <input [ngClass]="{
            'is-invalid': alloretariteForm.controls['emergencyContact'].invalid && (alloretariteForm.controls['emergencyContact'].dirty || alloretariteForm.controls['emergencyContact'].touched),
            'is-valid': alloretariteForm.controls['emergencyContact'].valid && (alloretariteForm.controls['emergencyContact'].dirty || alloretariteForm.controls['emergencyContact'].touched)
          }" class="form-control" id="inputState" placeholder="Ex: 97000098" type="number" formControlName="emergencyContact">

<div *ngIf="alloretariteForm.get('emergencyContact')?.touched && alloretariteForm.get('emergencyContact')?.invalid">
  <small *ngIf="alloretariteForm.get('emergencyContact')?.errors?.['required']">Le numéro d'urgence est requis.</small>
</div>
        </div>
        <div class="col-md-6 col-6">
          <label class="form-label" for="inputAddress"> Téléphone </label>
          <input  [placeholder]="user.phoneNumber"  [ngClass]="{
            'is-invalid': alloretariteForm.controls['phoneNumber'].invalid && (alloretariteForm.controls['phoneNumber'].dirty || alloretariteForm.controls['phoneNumber'].touched),
            'is-valid': alloretariteForm.controls['phoneNumber'].valid && (alloretariteForm.controls['phoneNumber'].dirty || alloretariteForm.controls['phoneNumber'].touched)
          }" class="form-control" id="inputAddress3"  type="number" formControlName="phoneNumber">
           <div *ngIf="alloretariteForm.get('phoneNumber')?.touched && alloretariteForm.get('phoneNumber')?.invalid">
            <small *ngIf="alloretariteForm.get('phoneNumber')?.errors?.['required']">Le numéro de téléphone est requis.</small>
            <small *ngIf="alloretariteForm.get('phoneNumber')?.errors?.['minlength']">Le numéro doit contenir au moins 8 chiffres.</small>
            <small *ngIf="alloretariteForm.get('phoneNumber')?.errors?.['maxlength']">Le numéro ne doit pas dépasser 20 chiffres.</small>
            <small *ngIf="alloretariteForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']">Numéro de téléphone invalide.</small>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <label class="form-label" for="inputAddress">Email</label>
          <input [placeholder]="user.email"   [ngClass]="{
            'is-invalid': alloretariteForm.controls['email'].invalid && (alloretariteForm.controls['email'].dirty || alloretariteForm.controls['email'].touched),
            'is-valid': alloretariteForm.controls['email'].valid && (alloretariteForm.controls['email'].dirty || alloretariteForm.controls['email'].touched)
          }" class="form-control" id="inputAddress4" placeholder="Email" type="email" formControlName="email">
             <ng-container *ngIf="alloretariteForm.get('email')?.touched && alloretariteForm.get('email')?.invalid">
              <small *ngIf="alloretariteForm.get('email')?.errors?.['required']">L'email est requis.</small>
              <small *ngIf="alloretariteForm.get('email')?.errors?.['email']">Veuillez entrer une adresse email valide.</small>
              <small *ngIf="alloretariteForm.get('email')?.errors?.['minlength']">L'email doit comporter au moins 3 caractères.</small>
              <small *ngIf="alloretariteForm.get('email')?.errors?.['maxlength']">L'email ne doit pas dépasser 100 caractères.</small>
            </ng-container>
        </div>
        <div class="col-12">
          <label class="form-label" for="inputAddress">Choisissez votre ministère</label>
          <input  class="form-control" type="text" formControlName="structureId" [placeholder]="user.structure.name">


        </div>
        <div class="col-md-12">
          <label class="form-label" for="inputAddress">Objet</label>
          <input  [ngClass]="{
            'is-invalid': alloretariteForm.controls['subject'].invalid && (alloretariteForm.controls['subject'].dirty || alloretariteForm.controls['subject'].touched),
            'is-valid': alloretariteForm.controls['subject'].valid && (alloretariteForm.controls['subject'].dirty || alloretariteForm.controls['subject'].touched)
          }" class="form-control" id="inputAddress5" placeholder="Objet" type="text" formControlName="subject">

<div *ngIf="alloretariteForm.get('subject')?.touched && alloretariteForm.get('subject')?.invalid">
  <small *ngIf="alloretariteForm.get('subject')?.errors?.['required']">L'Objet est requis.</small>
</div>
        </div>
        <div class="col-md-12">
          <label class="form-label" for="inputAddress">Message</label>
          <textarea [ngClass]="{
            'is-invalid': alloretariteForm.controls['message'].invalid && (alloretariteForm.controls['message'].dirty || alloretariteForm.controls['message'].touched),
            'is-valid': alloretariteForm.controls['message'].valid && (alloretariteForm.controls['message'].dirty || alloretariteForm.controls['message'].touched)
          }" class="form-control" cols="30" name="message" placeholder="Votre message" required rows="4" formControlName="message"></textarea>
          <div *ngIf="alloretariteForm.get('message')?.touched && alloretariteForm.get('message')?.invalid">
            <small *ngIf="alloretariteForm.get('message')?.errors?.['required']">Le Message est requis.</small>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button   class="btn btn-primary " id="bt6" type="submit">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</section>
